<h1>Customers</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each customers.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each customers}}
        <tr>
            <td>{{this.[Customer ID]}}</td>
            <td>{{this.[First Name]}}</td>
            <td>{{this.[Last Name]}}</td>
            <td>{{this.[Email]}}</td>

<td>
    {{! DELETE form }}
    <form method='POST' action='/customers/delete'>
        <input type='hidden' name='delete_customer_id' value='{{this.[Customer ID]}}' />
        <input type='hidden' name='delete_customer_name' value='{{this.[First Name]}} {{this.[Last Name]}}' />
        <button type='submit'>
            Delete
        </button>
    </form>
</td>
        </tr>
        {{/each}}

{{! CREATE form }}
    </tbody>
</table>
<h2>Create a Customer</h2>
<form class='cuForm' id='create_customer_form'>
    <label for='create_customer_fname'>First Name: </label>
    <input type='text' name='create_customer_fname' id='create_customer_fname' required />

    <label for='create_customer_lname'>Last Name: </label>
    <input type='text' name='create_customer_lname' id='create_customer_lname' required />

    <label for='create_customer_email'>Email: </label>
    <input type='email' name='create_customer_email' id='create_customer_email' required />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Customer</h2>
<form class='cuForm' id='update_customer_form'>
    <label for='update_customer_id'>Customer to Update: </label>
    <select name='update_customer_id' id='update_customer_id' required>
        <option value='' disabled selected>Select a Customer</option>
        {{#each customers}}
        <option value='{{this.[Customer ID]}}' required>
            {{this.[Customer ID]}}
            -
            {{this.[First Name]}}
            {{this.[Last Name]}}
        </option>
        {{/each}}
    </select>

    <label for='update_customer_fname'>First Name: </label>
    <input type='text' name='update_customer_fname' id='update_customer_fname' required />

    <label for='update_customer_lname'>Last Name: </label>
    <input type='text' name='update_customer_lname' id='update_customer_lname' />

    <label for='update_customer_email'>Email: </label>
    <input type='text' name='update_customer_email' id='update_customer_email' />

    <input type='submit' />
</form>