<<<<<<< HEAD
<h1>Menu Items!</h1>
=======
<h1>Orders!</h1>
>>>>>>> 796273566fcc5727fc3b4daa73f62ef48a32c34a

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each menuitems.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each menuitems}}
        <tr>
            <td>{{this.MenuItemID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Price}}</td>


            {{! DELETE form }}
            <form id='delete_menu_item_form'>
                <input type='hidden' name='delete_menu_item_id' value='{{this.MenuItemID}}' />
                <input type='hidden' name='delete_menu_item_name' value='{{this.Name}} {{this.Price}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Menu Item</h2>
<form class='cuForm' id='create_menu_item_form'>
    <label for='create_menu_item_name'>Name: </label>
    <input type='text' name='create_menu_item_name' id='create_menu_item_name' required />

    <label for='create_menu_item_price'>Price:</label>
    <input type='number' name='create_menu_item_price' id='create_menu_item_price' min='0' />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Menu Item</h2>
<form class='cuForm' id='update_menu_item_form'>
    <label for='update_menu_item_id'>Menu Item to Update: </label>
    <select name='update_menu_item_id' id='update_menu_item_id' required>
        <option value='' disabled selected>Select a Menu Item</option>
        {{#each menuitems}}
        <option value='{{this.MenuItemID}}' required>
            {{this.MenuItemID}}
            -
            {{this.Name}}
            {{this.Price}}
        </option>
        {{/each}}
    </select>

    <label for='update_menu_item_name'>Name: </label>
    <input type='text' name='update_menu_item_name' id='update_menu_item_name' required />

<<<<<<< HEAD
    <label for='update_menu_item_price'>Price:</label>
    <input type='number' name='update_menu_item_price' id='update_menu_item_price' min='0' />
=======
    <label for='create_person_age'>Price:</label>
    <input type='number' name='create_person_age' id='create_person_age' min='0' />
>>>>>>> 796273566fcc5727fc3b4daa73f62ef48a32c34a

    <input type='submit' />
</form>