<h1>Orders</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each orders.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each orders}}
        <tr>
            <td>{{this.[Order ID]}}</td>
            <td>{{this.[Customer Name]}}</td>
            <td>{{this.Date}}</td>
            <td>{{this.[Order Status]}}</td>
            <td>{{this.[Order Total]}}</td>

            {{! DELETE form }}
            <td>
                <form method="POST" action="/orders/delete">
                    <input type="hidden" name="delete_order_id" value="{{this.[Order ID]}}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create an Order</h2>
<form class="cuForm" id="create_order_form" method="POST" action="/orders/add">
    <label for="create_order_customer_id">Customer placing Order:</label>
    <select name="create_order_customer_id" id="create_order_customer_id" required>
        <option value="" disabled selected>Select a Customer</option>
        {{#each customers}}
        <option value="{{this.CustomerID}}">
            {{this.CustomerID}} - {{this.FirstName}} {{this.LastName}}
        </option>
        {{/each}}
    </select>

    <label for="create_order_date">Date:</label>
    <input type="date" name="create_order_date" id="create_order_date" required>

    <label for="create_order_status">Order Status:</label>
    <select name="create_order_status" id="create_order_status" required>
        <option value="0">0 Pending</option>
        <option value="1">1 Completed</option>
    </select>

    <button type="submit">Create Order</button>
</form>

<h2>Total: ${{this.OrderTotal}}</h2>
{{! UPDATE form }}
<h2>Update an Order</h2>
<form class="cuForm" id="update_order_form" method="POST" action="/orders/update">
  <label for="update_order_id">Order to Update:</label>
  <select name="update_order_id" id="update_order_id" required>
    <option value="" disabled selected>Select an Order</option>
    {{#each orders}}
      <option value="{{this.[Order ID]}}">
        {{this.[Order ID]}} - {{this.[Customer Name]}}
      </option>
    {{/each}}
  </select>

  <label for="update_order_status">New Status:</label>
  <select name="update_order_status" id="update_order_status" required>
    <option value="0">0 Pending</option>
    <option value="1">1 Completed</option>
  </select>

  <button type="submit">Update Order</button>
</form>
