<h1>Orders!</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each orders.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each orders}}
        <tr>
            <td>{{this.OrderID}}</td>
            <td>{{this.CustomerID}}</td>
            <td>{{this.Date}}</td>
            <td>{{this.OrderStatus}}</td>
            <td>{{this.OrderTotal}}</td>

            {{! DELETE form }}
            <form id='delete_order_form'>
                <input type='hidden' name='delete_order_id' value='{{this.OrderID}}' />
                <input type='hidden' name='delete_order_name' value='{{this.CustomerID}} {{this.Date}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create an Order</h2>

<form class='cuForm' id='create_order_form'>
    <label for='create_order_id'>Customer placing Order: </label>
    <select name='create_order_id' id='create_order_id' required>
        <option value='' disabled selected>Select a Customer</option>
        {{#each customers}}
        <option value='{{this.CustomerID}}' required>
            {{this.CustomerID}}
            -
            {{this.FirstName}}
            {{this.LastName}}
        </option>
        {{/each}}
    </select>
    <label for='create_order_item_id'>Menu Item: </label>
    <select name='create_order_item_id' id='create_order_item_id' required>
        <option value='' disabled selected>Select a Menu Item</option>
        {{#each menuitems}}
        <option value='{{this.MenuItemID}}' required>
            {{this.MenuItemID}}
            -
            {{this.Name}}
        </option>
        {{/each}}
    </select>    

    <label for='create_amount'>Amount:</label>
    <input type='number' name='create_amount' id='create_amount' min='0' />

    <h2>Total: ${{this.OrderTotal}}</h2>

</form>

{{! UPDATE form }}
<h2>Update an Order</h2>
<form class='cuForm' id='update_order_form'>
    <label for='update_order_id'>Order to Update: </label>
    <select name='update_order_id' id='update_order_id' required>
        <option value='' disabled selected>Select an Order</option>
        {{#each orders}}
        <option value='{{this.OrderID}}' required>
            {{this.OrderID}}
            -
            {{this.CustomerID}}
        </option>
        {{/each}}
    </select>


    <form class='cuForm' id='update_order_form'>
    <label for='update_order_id'>Customer placing Order: </label>
    <select name='update_order_id' id='update_order_id' required>
        <option value='' disabled selected>Select a Customer</option>
        {{#each customers}}
        <option value='{{this.CustomerID}}' required>
            {{this.CustomerID}}
            -
            {{this.FirstName}}
            {{this.LastName}}
        </option>
        {{/each}}
    </select>



<form class='cuForm' id='update_order_item_form'>
    <label for='update_order_item_id'>Menu Item: </label>
    <select name='update_order_item_id' id='update_order_item_id' required>
        <option value='' disabled selected>Select a Menu Item</option>
        {{#each menuitems}}
        <option value='{{this.MenuItemID}}' required>
            {{this.MenuItemID}}
            -
            {{this.Name}}
        </option>
        {{/each}}
    </select>    

    <label for='create_amount'>Amount:</label>
    <input type='number' name='create_amount' id='create_amount' min='0' />

    <label for='update_order_status'>Status: </label>
    <input type='text' name='update_order_status' id='update_order_status' required />


    <input type='submit' />
</form> 
