<h1>Order Items!</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each orderitems.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each orderitems}}
        <tr>
            <td>{{this.OrderItemID}}</td>
            <td>{{this.OrdersID}}</td>
            <td>{{this.MenuItemsID}}</td>
            <td>{{this.Quantity}}</td>
            <td>{{this.ItemPrice}}</td>
            <td>{{this.LineTotal}}</td>

            {{! DELETE form }}
            <form id='delete_order_item_form'>
                <input type='hidden' name='delete_order_item_id' value='{{this.OrderItemID}}' />
                <input type='hidden' name='delete_order_item_name' value='{{this.OrdersID}} {{this.MenuItemsID}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create an Order Item</h2>
<form class='cuForm' id='create_order_item_form'>
    <label for='create_order_item_orders_id'>Orders ID: </label>
    <input type='text' name='create_order_item_orders_id' id='create_order_item_orders_id' required />

    <label for='create_order_item_menu_items_id'>Menu Items ID: </label>
    <input type='text' name='create_order_item_menu_items_id' id='create_order_item_menu_items_id' required />

    <label for='create_order_item_quantity'>Quantity: </label>
    <input type='number' name='create_order_item_quantity' id='create_order_item_quantity' min='0' />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update an Order Item</h2>
<form class='cuForm' id='update_order_item_form'>
    <label for='update_order_item_id'>Order Item to Update: </label>
    <select name='update_order_item_id' id='update_order_item_id' required>
        <option value='' disabled selected>Select an Order Item</option>
        {{#each orderitems}}
        <option value='{{this.OrderItemID}}' required>
            {{this.OrderItemID}}
            -
            {{this.OrdersID}}
            {{this.MenuItemsID}}
        </option>
        {{/each}}
    </select>

    <select name='update_order_item_id' id='update_order_item_id' required>
        <option value='' disabled selected>Select a Menu Item</option>
        {{#each menuitems}}
        <option value='{{this.MenuItemID}}' required>
            {{this.MenuItemID}}
            -
            {{this.ItemName}}
        </option>
        {{/each}}
    </select>    

    <label for='create_amount'>Amount:</label>
    <input type='number' name='create_amount' id='create_amount' min='0' />

    <input type='submit' />
</form>